# **Assignment For Numpy**

Difficulty Level **Beginner**

1. Import the numpy package under the name np

In [4]:
import numpy as np

2. Create a null vector of size 10

In [10]:
null_vector=np.zeros(10)
null_vector

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

3. Create a vector with values ranging from 10 to 49

In [8]:
vector_row=np.arange(10,50)
vector_row

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26,
       27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43,
       44, 45, 46, 47, 48, 49])

4. Find the shape of previous array in question 3

In [13]:
vector_row.shape

(40,)

5. Print the type of the previous array in question 3

In [14]:
vector_row.dtype

dtype('int32')

6. Print the numpy version and the configuration

In [16]:
import numpy as np
print(np.__version__)
print(np.show_config())

1.19.2

7. Print the dimension of the array in question 3

In [17]:
vector_row.ndim

1

8. Create a boolean array with all the True values

In [22]:
boolean_array=np.ones(5, dtype=bool)
boolean_array

array([ True,  True,  True,  True,  True])

9. Create a two dimensional array

In [23]:
array_row_column = np.arange(10).reshape(2,5)
array_row_column

array([[0, 1, 2, 3, 4],
       [5, 6, 7, 8, 9]])

10. Create a three dimensional array

In [25]:
array_x_y_z = np.arange(20).reshape(2,5,2)
array_x_y_z

array([[[ 0,  1],
        [ 2,  3],
        [ 4,  5],
        [ 6,  7],
        [ 8,  9]],

       [[10, 11],
        [12, 13],
        [14, 15],
        [16, 17],
        [18, 19]]])

Difficulty Level **Easy**

11. Reverse a vector (first element becomes last)

In [34]:
forward_vector=np.arange(5)
reverse_vector=forward_vector[::-1]
reverse_vector

array([4, 3, 2, 1, 0])

12. Create a null vector of size 10 but the fifth value which is 1

In [38]:
null_vector2=np.zeros(10)
null_vector2[5]=1
null_vector2

array([0., 0., 0., 0., 0., 1., 0., 0., 0., 0.])

13. Create a 3x3 identity matrix

In [41]:
array_2D=np.identity(3)
array_2D

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

14. arr = np.array([1, 2, 3, 4, 5]) 

---

 Convert the data type of the given array from int to float

In [44]:
arr = np.array([1, 2, 3, 4, 5])
array_float=(arr.astype(float))
array_float

array([1., 2., 3., 4., 5.])

15. arr1 =          np.array([[1., 2., 3.],

                    [4., 5., 6.]])  
                      
    arr2 = np.array([[0., 4., 1.],
     
                   [7., 2., 12.]])

---


Multiply arr1 with arr2

In [50]:
arr1 = np.array([[1., 2., 3.], [4., 5., 6.]])  
arr2 = np.array([[0., 4., 1.], [7., 2., 12.]])
arr3 = arr1*arr2
arr3

array([[ 0.,  8.,  3.],
       [28., 10., 72.]])

16. arr1 = np.array([[1., 2., 3.],
                    [4., 5., 6.]]) 
                    
    arr2 = np.array([[0., 4., 1.], 
                    [7., 2., 12.]])


---

Make an array by comparing both the arrays provided above

In [5]:
import numpy as np
arr1 = np.array([[1., 2., 3.], [4., 5., 6.]]) 
arr2 = np.array([[0., 4., 1.], [7., 2., 12.]])
comaring_arr=arr1<arr2
comaring_arr

array([[False,  True, False],
       [ True, False,  True]])

17. Extract all odd numbers from arr with values(0-9)

In [19]:
arr_OddZeroToNine=np.arange(1,11,2)
arr_OddZeroToNine

array([1, 3, 5, 7, 9])

18. Replace all odd numbers to -1 from previous array

In [29]:
arry_odd=np.array([1,3,5,7,9])
arry_odd[arry_odd<11]=-1
arry_odd

array([-1, -1, -1, -1, -1])

19. arr = np.arange(10)


---

Replace the values of indexes 5,6,7 and 8 to **12**

In [15]:
import numpy as np
arr = np.arange(10)
np.where((arr>4)&(arr<9),12,arr)

array([ 0,  1,  2,  3,  4, 12, 12, 12, 12,  9])

20. Create a 2d array with 1 on the border and 0 inside

In [18]:
TwoD_arr = np.array([[1, 0, 0], [0, 0, 1]], np.int32)
TwoD_arr

array([[1, 0, 0],
       [0, 0, 1]])

Difficulty Level **Medium**

21. arr2d = np.array([[1, 2, 3],

                    [4, 5, 6], 

                    [7, 8, 9]])

---

Replace the value 5 to 12

In [21]:
arr2d = np.array([[1, 2, 3],[4, 5, 6],[7, 8, 9]])
arr2d[arr2d ==5] = 12
arr2d

array([[ 1,  2,  3],
       [ 4, 12,  6],
       [ 7,  8,  9]])

22. arr3d = np.array([[[1, 2, 3], [4, 5, 6]], [[7, 8, 9], [10, 11, 12]]])

---
Convert all the values of 1st array to 64

In [24]:
arr3d = np.array([[[1, 2, 3], [4, 5, 6]], [[7, 8, 9], [10, 11, 12]]])
arr3d[arr3d<4] = 64
arr3d

array([[[64, 64, 64],
        [ 4,  5,  6]],

       [[ 7,  8,  9],
        [10, 11, 12]]])

23. Make a 2-Dimensional array with values 0-9 and slice out the first 1st 1-D array from it

In [12]:
import numpy as np
TwoD_arr=np.arange(10).reshape(2,5)
TwoD_arr
print(TwoD_arr[0:1])

[[0 1 2 3 4]]

24. Make a 2-Dimensional array with values 0-9 and slice out the 2nd value from 2nd 1-D array from it

In [29]:
TwoD_arr=np.arange(10).reshape(5,2)
TwoD_arr
print(TwoD_arr[1,1:3])

[3]

25. Make a 2-Dimensional array with values 0-9 and slice out the third column but only the first two rows

In [32]:
TwoD_arr=np.arange(10).reshape(2,5)
TwoD_arr
print(TwoD_arr[0:,3:4])

[[3]
 [8]]

26. Create a 10x10 array with random values and find the minimum and maximum values

In [8]:
import numpy as np
Arr = np.random.randint(5, size=(10,10))
Arr
max_element = np.max(Arr) 
min_element = np.min(Arr) 
max_element
min_element

0

27. a = np.array([1,2,3,2,3,4,3,4,5,6]) b = np.array([7,2,10,2,7,4,9,4,9,8])
---
Find the common items between a and b

In [12]:
a = np.array([1,2,3,2,3,4,3,4,5,6]) 
b = np.array([7,2,10,2,7,4,9,4,9,8])
c=np.intersect1d(a,b)
c

array([2, 4])

28. a = np.array([1,2,3,2,3,4,3,4,5,6])
b = np.array([7,2,10,2,7,4,9,4,9,8])

---
Find the positions where elements of a and b match

In [16]:
a = np.array([1,2,3,2,3,4,3,4,5,6])
b = np.array([7,2,10,2,7,4,9,4,9,8])
c = np.in1d(a,b)
c

array([False,  True, False,  True, False,  True, False,  True, False,
       False])

29.  names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])  data = np.random.randn(7, 4)

---
Find all the values from array **data** where the values from array **names** are not equal to **Will**

In [18]:
names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe']) 
data = np.random.randn(7, 4)
data[names != "Will"]

array([[-1.13790676,  0.89906612,  1.04034491,  1.24605541],
       [ 0.20949567,  1.48334724,  0.17587091, -0.27959558],
       [-0.86673084,  0.8078743 , -1.79939735, -0.40554516],
       [ 0.99281542,  0.38939565, -1.30387717, -0.69668412],
       [-0.68400811, -0.16347468, -0.4899211 , -1.97870706]])

30. names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe']) data = np.random.randn(7, 4)

---
Find all the values from array **data** where the values from array **names** are not equal to **Will** and **Joe**

In [24]:
names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])
data = np.random.randn(7, 4)
print(data[names != "Will"])
print(data[names != "Joe"])

[[-1.06314118  0.47659117  0.46261977  0.65463846]
 [-2.59589339  0.58150153  0.69101507 -0.8250038 ]
 [ 1.05967446  1.78611911  0.81347813 -0.48906863]
 [-0.20421223  0.70102597 -0.48208837 -2.03099028]
 [ 1.35256791 -1.23399052 -0.12676389 -0.02012022]]
[[-1.06314118e+00  4.76591173e-01  4.62619772e-01  6.54638456e-01]
 [ 6.56907246e-02 -8.82894497e-02 -2.00915800e+00  7.63520988e-01]
 [ 1.05967446e+00  1.78611911e+00  8.13478134e-01 -4.89068630e-01]
 [ 1.03388862e+00 -1.74823851e-03 -6.99154250e-01 -1.32155230e+00]]

Difficulty Level **Hard**

31. Create a 2D array of shape 5x3 to contain decimal numbers between 1 and 15.

In [3]:
import numpy as np
TwoD_arr=np.arange(1,16).reshape(5,3)
TwoD_arr

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [ 7,  8,  9],
       [10, 11, 12],
       [13, 14, 15]])

32. Create an array of shape (2, 2, 4) with decimal numbers between 1 to 16.

In [5]:
ThreeD_arr=np.arange(1,17).reshape(2,2,4)
ThreeD_arr

array([[[ 1,  2,  3,  4],
        [ 5,  6,  7,  8]],

       [[ 9, 10, 11, 12],
        [13, 14, 15, 16]]])

33. Swap axes of the array you created in Question 32

In [7]:
ThreeD_arr
np.swapaxes(ThreeD_arr,0,1)

array([[[ 1,  2,  3,  4],
        [ 9, 10, 11, 12]],

       [[ 5,  6,  7,  8],
        [13, 14, 15, 16]]])

34. Create an array of size 10, and find the square root of every element in the array, if the values less than 0.5, replace them with 0

In [14]:
arr = np.array([0,1, 2, 3, 4, 5,6,7,8,9])
sq_arr=np.sqrt([0,1, 2, 3, 4, 5,6,7,8,9])
sq_arr
sq_arr[sq_arr < 0.5] = 0
print(sq_arr)

[0.         1.         1.41421356 1.73205081 2.         2.23606798
 2.44948974 2.64575131 2.82842712 3.        ]

35. Create two random arrays of range 12 and make an array with the maximum values between each element of the two arrays

In [26]:
random_arr1=np.random.random(12)
random_arr1
random_arr2=np.random.random(12)
random_arr2
maxVal=np.maximum(random_arr1, random_arr2)
maxVal

array([0.85321852, 0.11020149, 0.78847859, 0.74991537, 0.38891776,
       0.1732984 , 0.67058077, 0.94236784, 0.77352552, 0.94924915,
       0.87128781, 0.22749454])

36. names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])

---
Find the unique names and sort them out!

In [28]:
names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])
names= set(names)
names

{'Bob', 'Joe', 'Will'}

37. a = np.array([1,2,3,4,5])
b = np.array([5,6,7,8,9])

---
From array a remove all items present in array b

In [33]:
a = np.array([1,2,3,4,5])
b = np.array([5,6,7,8,9])
print(np.intersect1d(a, b))

[5]

38.  Following is the input NumPy array delete column two and insert following new column in its place.

---
sampleArray = numpy.array([[34,43,73],[82,22,12],[53,94,66]]) 


---

newColumn = numpy.array([[10,10,10]])

In [39]:
sampleArray = np.array([[34,43,73],[82,22,12],[53,94,66]])
sampleArray[:, 1] = [10,10,10]
sampleArray

array([[34, 10, 73],
       [82, 10, 12],
       [53, 10, 66]])

39. x = np.array([[1., 2., 3.], [4., 5., 6.]]) y = np.array([[6., 23.], [-1, 7], [8, 9]])


---
Find the dot product of the above two matrix

In [45]:
x = np.array([[1., 2., 3.], [4., 5., 6.]])
y = np.array([[6., 23.], [-1, 7], [8, 9]])
multpli=np.matmul(x, y)
multpli

array([[ 28.,  64.],
       [ 67., 181.]])

40. Generate a matrix of 20 random values and find its cumulative sum

In [46]:
rdm_matrix=np.random.rand(3,2)
rdm_matrix

array([[0.74870416, 0.64267088],
       [0.34726943, 0.09128808],
       [0.62483385, 0.9837438 ]])

In [49]:
cum_sum=np.cumsum(rdm_matrix)
cum_sum

array([0.74870416, 1.39137504, 1.73864447, 1.82993255, 2.4547664 ,
       3.4385102 ])